---
title: "Welcome to my site!"
layout: default
---

<!-- Navigation-->
{% include navigation.html %}
<!-- Masthead-->
{% include header.html %}
<!-- About-->
{% include about.html %}
<!-- Experience-->
{% include experience.html %}
<!-- Education-->
{% include education.html %}
<!-- Skills-->
{% include skills.html %}
<!-- Contact-->
{% include contact.html %}
<!-- Footer-->
<footer class="footer bg-black small text-center text-white-50"><div class="container px-4 px-lg-5">Copyright &copy; Loïc Jubin 2022</div></footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="assets/js/scripts.js"></script>
