<section class="about-section pb-4" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <h2 class="text-white text-center mb-4 w-100">{{ site.data.about[page.lang].title }}</h2>
        <div class="d-flex justify-content-center flex-wrap">
          <div class="pb-3">
            <img src="/assets/images/my-profil-picture.png" width="271" height="271">
          </div>
          <p class="text-white align-self-center col-sm-9 mx-3">{{ site.data.about[page.lang].content }}</p>
        </div>
      </div>
    </div>
</section>
