<section class="projects-section bg-light" id="skills">
  <h2 class="tmb-4 text-center mb-4">Skills</h2>
  <div class="container px-4 px-lg-5">
    <div class="row">
      {% for items in site.data.skills[page.lang] %}
      <div class="col-lg">
        <h4 class="fw-bold text-center mt-3"> {{ items.title }} </h4>
        {% for item in items.items %}
        <p class="mb-1"> {{ item.title }}
        <div class="progress">
          <div class="progress-bar {% if item.value >= 85 %}bg-info{% elsif item.value < 85 and item.value >= 60 %}bg-success{% endif %}" role="progressbar" style="width: {{ item.value }}%;" aria-valuenow="{{ item.value }}" aria-valuemin="0" aria-valuemax="100">{{ item.human-value }}</div>
        </div>
        </p>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>
